* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27273ffe; /* ochiq fon */
}

.conteyner {
    background: #2d1832; /* to‘qroq konteyner */
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 250px;
    color: white;
}

.conteyner p:first-child {
    font-size: 20px;
    margin-bottom: 15px;
    opacity: 0.9;
}

#count {
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    color: #ecf0f1;
}

/* Tugmalar */
button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

/* + tugma */
button:nth-child(3) {
    background: #0b62d3e8;
    color: white;
}

/* - tugma */
button:nth-child(4) {
    background: #e74c3c;
    color: white;
}

/* Reset tugma */
button:nth-child(5) {
    width: 130px;
    border-radius: 30px;
    background: #9801a0ca;
    color: white;
    font-size: 16px;
}

/* Hover */
button:hover {
    transform: scale(1.08);
    opacity: 0.9;
}

